Package: com.yves.nextup3
Name: NextUp 3
Version: 1.1.2
Architecture: iphoneos-arm
Description: See and skip the upcoming track right from the now-playing UI
 Works with Apple Music, Apple Podcasts, YouTube, YouTube Music, Spotify and
 NetEase Cloud Music on iOS 14.2 - 26, in the Lock Screen, Control Center and
 Dynamic Island.
Maintainer: Yves <85767885+Yves000@users.noreply.github.com>
Author: Yves <85767885+Yves000@users.noreply.github.com>
Homepage: https://github.com/Yves000/NextUp3
Section: Tweaks
Depends: ellekit | mobilesubstrate (>= 0.9.5000), firmware (>= 14.2), com.opa334.libsandy, preferenceloader
